button{
    padding: 9px 25px;
    background-color: rgb(18, 46, 97);
    border: none;
    border-radius: 50px;
    cursor: pointer ;
    transition: all 0.3s ease 0s;
    color: white;
    width: 95%;
}


body {
    background: url('login.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.sign-upbox, .login-container {
    width: 400px; 
    height: auto; 
    margin: auto;
    background-color: transparent;
    border: 2px solid rgba(255,255,255, .2);
    color: white;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 4px;
    padding: 20px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



h1{
    text-align: center;


}
form,h4{
    width: 300px;
    margin-left: 20px;
    font-size: 18px;

}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}



button:hover{
    background-color: white;
    color:darkblue;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.para2 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-top: 10px; 
}

.para2 a {
    color: rgb(172, 204, 193);
    text-decoration: none;
}


